a:link{
color:#3300CC;
}
a:visited{
color:#00CC00;
}
a:active{
color:#FF6600;
}
body{
color:#000000;
background-color:#FFCC66;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#3300CC;
color:#000000;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#CCFF66;
table-border-color-dark:#99CC00;
border-color:#99CC00;
color:#000000;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#3300CC;
}
TD{
border-color:#3300CC;
}
