.mstheme{
nav-banner-image:url(wavbannd.gif);
separator-image:url(wavsepd.gif);
list-image-1:url(wavbul1d.gif);
list-image-2:url(wavbul2d.gif);
list-image-3:url(wavbul3d.gif);
navbutton-horiz-pushed:url(wavnavhs.gif);
navbutton-horiz-normal:url(wavnavhd.gif);
navbutton-vert-pushed:url(wavnavvs.gif);
navbutton-vert-normal:url(wavnavvd.gif);
navbutton-home-normal:url(wavhomed.gif);
navbutton-up-normal:url(wavupd.gif);
navbutton-prev-normal:url(wavprevd.gif);
navbutton-next-normal:url(wavnextd.gif);
}
UL{
list-style-image:url(wavbul1d.gif);
}
UL UL{
list-style-image:url(wavbul2d.gif);
}
UL UL UL{
list-style-image:url(wavbul3d.gif);
}
.mstheme-bannertxt{
font-family:Verdana,Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
