.mstheme{
nav-banner-image:url(wavbanna.gif);
separator-image:url(ruleani.gif);
list-image-1:url(wavbul1a.gif);
list-image-2:url(wavbul2a.gif);
list-image-3:url(wavbul3a.gif);
navbutton-horiz-pushed:url(wavnavhp.gif);
navbutton-horiz-normal:url(wavnavha.gif);
navbutton-horiz-hovered:url(wavnavhh.gif);
navbutton-vert-pushed:url(wavnavvp.gif);
navbutton-vert-normal:url(wavnavva.gif);
navbutton-vert-hovered:url(wavnavvh.gif);
navbutton-home-normal:url(wavhomea.gif);
navbutton-home-hovered:url(wavhomeh.gif);
navbutton-up-normal:url(wavupa.gif);
navbutton-up-hovered:url(wavuph.gif);
navbutton-prev-normal:url(wavpreva.gif);
navbutton-prev-hovered:url(wavprevh.gif);
navbutton-next-normal:url(wavnexta.gif);
navbutton-next-hovered:url(wavnexth.gif);
}
UL{
list-style-image:url(wavbul1a.gif);
}
UL UL{
list-style-image:url(wavbul2a.gif);
}
UL UL UL{
list-style-image:url(wavbul3a.gif);
}
.mstheme-bannertxt{
font-family:Verdana,Arial,Helvetica;
font-size:5;
color:#FFFFFF;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
