vti_encoding:SR|utf8-nl
vti_author:SR|Felicity-VAIO\\Felicity
vti_modifiedby:SR|Felicity-VAIO\\Felicity
vti_timelastmodified:TR|03 Apr 2015 04:48:03 -0000
vti_timecreated:TR|03 Apr 2015 04:48:03 -0000
vti_cacheddtm:TX|03 Apr 2015 04:48:03 -0000
vti_filesize:IR|1521
vti_cachedlinkinfo:VX|S|wavbanna.gif S|ruleani.gif S|wavbul1a.gif S|wavbul2a.gif S|wavbul3a.gif S|wavnavhp.gif S|wavnavha.gif S|wavnavhh.gif S|wavnavvp.gif S|wavnavva.gif S|wavnavvh.gif S|wavhomea.gif S|wavhomeh.gif S|wavupa.gif S|wavuph.gif S|wavpreva.gif S|wavprevh.gif S|wavnexta.gif S|wavnexth.gif S|wavbul1a.gif S|wavbul2a.gif S|wavbul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/waves/wavbanna.gif FSUS|_themes/waves/ruleani.gif FSUS|_themes/waves/wavbul1a.gif FSUS|_themes/waves/wavbul2a.gif FSUS|_themes/waves/wavbul3a.gif FSUS|_themes/waves/wavnavhp.gif FSUS|_themes/waves/wavnavha.gif FSUS|_themes/waves/wavnavhh.gif FSUS|_themes/waves/wavnavvp.gif FSUS|_themes/waves/wavnavva.gif FSUS|_themes/waves/wavnavvh.gif FSUS|_themes/waves/wavhomea.gif FSUS|_themes/waves/wavhomeh.gif FSUS|_themes/waves/wavupa.gif FSUS|_themes/waves/wavuph.gif FSUS|_themes/waves/wavpreva.gif FSUS|_themes/waves/wavprevh.gif FSUS|_themes/waves/wavnexta.gif FSUS|_themes/waves/wavnexth.gif FSUS|_themes/waves/wavbul1a.gif FSUS|_themes/waves/wavbul2a.gif FSUS|_themes/waves/wavbul3a.gif
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|
vti_syncwith_esvc001113.wic011tu.server-web.com\:21:TX|03 Apr 2015 04:48:03 -0000
vti_syncofs_esvc001113.wic011tu.server-web.com\:21:TW|03 Apr 2015 11:51:00 -0000
