vti_encoding:SR|utf8-nl
vti_author:SR|Felicity-VAIO\\Felicity
vti_modifiedby:SR|Felicity-VAIO\\Felicity
vti_timelastmodified:TR|03 Apr 2015 04:48:03 -0000
vti_timecreated:TR|03 Apr 2015 04:48:03 -0000
vti_cacheddtm:TX|03 Apr 2015 04:48:03 -0000
vti_filesize:IR|1266
vti_cachedlinkinfo:VX|S|wavbannd.gif S|wavsepd.gif S|wavbul1d.gif S|wavbul2d.gif S|wavbul3d.gif S|wavnavhs.gif S|wavnavhd.gif S|wavnavvs.gif S|wavnavvd.gif S|wavhomed.gif S|wavupd.gif S|wavprevd.gif S|wavnextd.gif S|wavbul1d.gif S|wavbul2d.gif S|wavbul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/waves/wavbannd.gif FSUS|_themes/waves/wavsepd.gif FSUS|_themes/waves/wavbul1d.gif FSUS|_themes/waves/wavbul2d.gif FSUS|_themes/waves/wavbul3d.gif FSUS|_themes/waves/wavnavhs.gif FSUS|_themes/waves/wavnavhd.gif FSUS|_themes/waves/wavnavvs.gif FSUS|_themes/waves/wavnavvd.gif FSUS|_themes/waves/wavhomed.gif FSUS|_themes/waves/wavupd.gif FSUS|_themes/waves/wavprevd.gif FSUS|_themes/waves/wavnextd.gif FSUS|_themes/waves/wavbul1d.gif FSUS|_themes/waves/wavbul2d.gif FSUS|_themes/waves/wavbul3d.gif
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|
vti_syncwith_esvc001113.wic011tu.server-web.com\:21:TX|03 Apr 2015 04:48:03 -0000
vti_syncofs_esvc001113.wic011tu.server-web.com\:21:TW|03 Apr 2015 11:51:00 -0000
